//цвета

$primary-dark: #161A1E;
$primary-light: #ffffff;
$secondary: #e4a79d;

//breakpoints
$bp-xl: 1599px;
$bp-lg: 1279px;
$bp-md: 1023px;
$bp-sm: 767px;
$bp-xs: 576px;
$bp-xxs: 350px;

//шрифты
$roboto: 'Roboto, sans-serif';


//отступы

//текстовые стили

//скругления

//тени